body{
    font-family: 'Montserrat', sans-serif;
}

*{
    text-decoration: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    margin: auto;
    padding: 20px;
    max-width: 70%;
}
.block{
    display: flex;
    flex-wrap: wrap;
}

.news{
    padding: 20px;
    display: flex;
    gap:30px;
    flex-wrap: wrap;
}

.newss{
    background: #232323;
    padding: 30px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    gap:30px;
    width: 300px;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}

.name{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: rgb(208, 95, 95);
}

.date{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: grey;
}

.text{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #ffebea;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: #ffebea;
}

.id{
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 14px;
    color: grey;
}